{% extends 'main.html' %}

{% block title %}S2M-WEB | Opérations promo{% endblock %}

{% block content %}
<div id="content" class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="page-title">
            </div>
        </div>

        <div class="row" id="tabindex">
            <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12" style="margin-top: 1%;">
                                <h3><center>Ooops page not found !</center></h3>
                            </div>                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
