{% extends 'main.html' %}

{% block title %}S2M-WEB | Opérations promo{% endblock %}

{% block content %}
<style>
    .icon-wrapper {
        padding: 10px;
        color: #fdf2f3;
        background-color: #00b1f4;
        border-radius: 3px;
    }
    .icon-wrapper-delete {
        margin-left: 20px;
        padding: 10px;
        color: #fdf2f3;
        background-color: #e7515a;
        border-radius: 3px;
    }
    #addButton a {
        color: #ffffff;
    }
</style>
<div id="content" class="main-content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="page-title">
            </div>
        </div>

        <div class="row" id="tabindex">
            <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
                <div class="statbox widget box box-shadow">
                    <div class="widget-header">
                        <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12" style="margin-top: 1%;">
                                <h3><center>Création production charcuterie</center></h3>
                            </div>                 
                        </div>
                    </div>
                    <div class="widget-content widget-content-area">
                        <div class="table-responsive mb-4">
                            <div class="mb-4" style="margin-left: 15px;">
                                <button id="addButton" class="btn btn-primary btn-rounded btn-sm">
                                    {% comment %} <a href="/gestionspromo/getproduction"><i class="flaticon-plus-1"></i> Ajouter </a> {% endcomment %}
                                    <i class="flaticon-plus-1"></i> Ajouter
                                </button>
                            </div>
                            <table id="productiontable" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Date</th>
                                        <th>Créateur</th>
                                        <th>Numéro</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                                <tfoot>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tfoot>    
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}